* {
  box-sizing: border-box;
}

body {
  max-width: 3508px;
}

.flex {
  display: flex;
}

.section-header {
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.m-t-4 {
  margin-top: 4px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.title {
  color: #008cff;
}

.bold {
  color: #008cff;
}

.gray {
  color: #6d6d6d;
}
